.menu-item-has-children{
	position: relative;
}
.menu-item-has-children .sub-menu{
	display: none;
}
.menu-item-has-children:hover .sub-menu{
	display: block;
	position: absolute;
}
.fre-menu-main>li>.sub-menu {
    margin: 0;
    padding: 12px 0;
    top: 100%;
    min-width: 204px;
    border: none;
    border-top: 1px solid #ededed;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(219, 219, 219, 0.75);
    -moz-box-shadow: 0px 2px 2px 0px rgba(219, 219, 219, 0.75);
    box-shadow: 0px 2px 2px 0px rgba(219, 219, 219, 0.75);
    border-radius: 0;
    left: -20px;
    z-index: 1010;
}
.menu-item-has-children a{

}
.menu-item-has-children a:after{
	content: "\f0d7";
	margin-left: 8px;
	font-family: FontAwesome;
}
.menu-item-has-children .sub-menu a:after{
	content: none !important;
}